.container {
  max-width: 1200px;
}

.page-section {
  padding: 3rem 1rem;

  p {
    font-size: 0.8rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  .section-heading {
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 2.2rem;
    }

    h4 {
      font-weight: normal;
      font-size: 1.1rem;
      font-family: $subheadings-font-family;
      font-style: italic;
      color: $text-muted;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-section {

    p {
      font-size: 0.9rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    .section-heading {
      h1 {
        font-size: 2.5rem;
      }

      h4 {
        font-size: 1.3rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .page-section {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .section-heading {
      h1 {
        font-size: 3.2rem;
      }

      h4 {
        font-size: 1.4rem;
      }
    }

    .section-body {
      p {
        font-size: 1rem;
      }
    }
  }
}

.page-section-primary {
  background-color: $primary-faded;
}

.page-section-dark {
  background-color: $dark-faded;
  color:white;
}

.box-shadow-with-border {
  border: 2px solid $gray-200;
  box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
}