$base-heading-sizes: (
    h1: 3rem,
    h2: 2.5rem,
    h3: 2rem,
    h4: 1.5rem,
    h5: 1.3rem,
    h6: 1.1rem,
);

$heading-breakpoint-multipliers: (
    xxl: 0.9,
    xl: 0.85,
    lg: 0.8,
    md: 0.75,
    sm: 0.7
);

@each $text, $size in $base-heading-sizes {
    #{$text}, .eq-#{$text} {
        font-size: $size;

        @each $breakpoint, $multiplier in $heading-breakpoint-multipliers {
            @include media-breakpoint-down($breakpoint) {
                font-size: calc($size * $multiplier)
            }
        }
    }
}

$base-text-sizes: (
    text-info-1: 0.8rem,
    text-info-2: 0.9rem,
    text-info-3: 0.95rem,
    text-info-4: 1rem,
    text-info-5: 1.05rem,
);

$texts-breakpoint-multipliers: (
    xxl: 0.95,
    xl: 0.9,
    lg: 0.875,
    md: 0.85,
    sm: 0.8
);

@each $text, $size in $base-text-sizes {
    .#{$text} {
        font-size: $size;

        @each $breakpoint, $multiplier in $texts-breakpoint-multipliers {
            @include media-breakpoint-down($breakpoint) {
                font-size: calc($size*$multiplier)
            }
        }
    }
}

.text {
    &-muted {
        color: $text-muted!important;
    }

    &-normal {
        color: $text-normal!important;
    }

    @for $i from 1 through length($light-shades-palette) {
        &-light-#{$i} {
            color: nth($light-shades-palette, $i)!important;
        }
    }
}

a {
    text-decoration: none;
    color: lighten($primary, 10%);
    &:hover {
        color: lighten($primary, 15%);
    }
}

p {
    color: $text-normal;
}