$fa-font-path:"@fortawesome/fontawesome-free/webfonts";

// Bootstrap Colors
$primary: #ff5900;
$dark: #212529;

// Custom colors
$white:white;
$white-faded: #b7b7b7;
$dark-faded: #343a40;
$primary-faded: #ffe3d6;

// Typography
$font-lato: 'Lato', sans-serif;
$font-ysabeau: 'Ysabeau', sans-serif;
$font-patua-one: 'Patua One', sans-serif;
$font-family-base: $font-lato;
$headings-font-family: $font-patua-one;
$subheadings-font-family: $font-ysabeau;

